<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kefang.autoditacte.dao.MajorCourseDao">
    <resultMap id="resultMap" type="com.kefang.autoditacte.entity.MajorCourse">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
        <result property="majorId" column="major_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="tableName">lk_major_course</sql>
    <insert id="save" parameterType="com.kefang.autoditacte.entity.MajorCourse">
        insert IGNORE into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="courseId != null" >
                course_id,
            </if>
            <if test="majorId != null" >
                major_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="courseId != null" >
                #{courseId,jdbcType=VARCHAR},
            </if>
            <if test="majorId != null">
                #{majorId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <delete id="deleteByMajorId" parameterType="string">
        DELETE FROM
        <include refid="tableName"/>
        WHERE major_id=#{majorId}
    </delete>
    <select id="getCourseIdListByMajorId" resultType="java.lang.String" parameterType="string">
        SELECT course_id
        FROM
        <include refid="tableName"/>
        WHERE
        major_id=#{majorId}
    </select>
</mapper>
